body {
  position: relative;
}
.nav-header {
  position: fixed;
  padding: 0 54px;
  top: 0;
  left: 0;
  width: 100%;
  color: #efefef;
  background-color: var(--nav-backGround);
  z-index: 4;
}
.nav-header span {
  margin: 0 30%;
}

.nav-ul {
  gap: 25px;
}
.nav-ul a {
  text-decoration: none;
  color: var(--text-color);
}

.ul-box {
  gap: 15px;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 380px;
  height: 10000px;
  padding-top: 80px;
  background-color: #fff;
  color: #000;
  transform: translateX(1000px);
  transition: 0.5s ease;
  z-index: 9998;
}

.modal-show {
  transform: translateX(0px);
}

.ul-modal {
  top: 100px;
  width: 250px;
  height: 350px;
  margin: 0 auto;
  flex-direction: column;
}

.ul-modal > li {
  padding-bottom: 30px;
}

.btn-close--m {
  position: relative;
  top: -390px;
  right: -150px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.3s;
}

.btn-close--m:hover {
  border: 1px solid transparent;
  border-radius: 50%;
  background: #9391912b;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  background-image: url("/img/nav-hero2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 90vh;
}

.hero-text {
  position: absolute;
  min-width: 100%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  backdrop-filter: blur(4px);
  background-color: #9391912b;
  text-align: center;
  padding: 20px 0;
  color: var(--text-color);
  font-size: 50px;
  font-weight: 700;
}

.btn {
  position: relative;
  top: 0;
  left: 25px;
}

.icon-btn {
  padding: 7px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 22px;
  color: #000;
}

/* FEATURES GRID */
.sec-1 {
  background-color: var(--nav-backGround);
}

.sec-1-tittle {
  text-align: center;
  color: #000;
}
.sec-1-tittle h2 {
  padding-top: 35px;
  font-size: 20px;
}

.sec-1-tittle h3 {
  padding-top: 25px;
  font-size: 40px;
}

.features-container {
  padding: 100px 50px;
  gap: 30px;
}

.features-box h3 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 20px;
}

.features-box,
h3,
p {
  padding: 15px 10px;
}
