.nav-header {
  position: fixed;
  padding: 0 54px;
  top: 0;
  left: 0;
  width: 100%;
  color: #efefef;
  background-color: var(--nav-backGround);
  z-index: 5;
}
.nav-header span {
  margin: 0 30%;
}

.nav-ul {
  gap: 25px;
}
.nav-ul a {
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

.nav-ul a:hover {
  border-bottom: 2px solid var(--logo-color);
}

.ul-box {
  gap: 15px;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 28vw;
  height: 100%;
  padding-top: 80px;
  background-color: rgb(255, 255, 255);
  color: #000;
  transform: translateX(1000px);
  transition: 0.5s ease;
  z-index: 999999;
}

.modal-show {
  transform: translateX(0px);
  z-index: 999999;
}

.ul-modal {
  position: sticky;
  top: 100px;
  width: 250px;
  height: 350px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-modal > li {
  padding-bottom: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.ul-modal > li:hover {
  opacity: 0.5;
}

.btn-close--m {
  position: relative;
  top: -360px;
  right: -150px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.3s;
}

.btn-close--m:hover {
  border: 1px solid transparent;
  border-radius: 50%;
  background: #9391912b;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.133);
  z-index: 6;
}

.hero {
  position: relative;
  top: 0;
  left: 0;

  background-image: url("/img/nav-hero2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 90vh;
}

.hero-text {
  position: absolute;
  min-width: 100%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  backdrop-filter: blur(4px);
  background-color: #9391912b;
  text-align: center;
  padding: 20px 0;
  color: var(--text-color);
  font-size: 50px;
  font-weight: 700;
}

.icon-btn {
  padding: 7px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 22px;
  color: #000;
}

/* SECTION 1 GRID */
.features-container {
  row-gap: 50px;
  column-gap: 50px;
}

.sec-1-tittle {
  text-align: center;
  color: #000;
}
.sec-1-tittle h2 {
  padding: 50px 0;
  font-size: 20px;
  color: var(--main-color);
}

.sec-1-tittle h3 {
  font-size: 40px;
  padding-bottom: 60px;
}

.features-box h3 {
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
}

.features-text {
  align-items: center;
  justify-items: center;
}

.features-box > h3 {
  padding: 15px 0;
}
.features-box > p {
  padding: 15px 0;
  max-width: 95%;
}

/* SECTION 2 */
.sec-02--text {
  justify-self: center;
}

.sec-2--img-grid {
  justify-items: center;
  column-gap: 30px;
  row-gap: 30px;
}

.img-1--grid {
  background-image: url("/img/sections/sec-2-img1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 340px;
  border-radius: 6px;
  align-self: end;
}
.img-2--grid {
  background-image: url("/img/sections/sec-2-img2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 300px;
  border-radius: 6px;
  align-self: end;
  justify-self: start;
}

.img-3--grid {
  background-image: url("/img/sections/sec-2-img3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 600px;
  grid-column: 1/3;
  border-radius: 6px;
  justify-self: start;
  margin-left: 35px;
}
.sec-2--h2 {
  color: var(--main-color);
  padding: 10px 35px 0 35px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}
.sec-2--h3 {
  padding: 20px 35px;
  font-size: 45px;
  font-weight: 600;
}

.sec-2--p {
  padding: 20px 35px;
  line-height: 1.5;
}

.sec-2--ul-1 li,
.sec-2--ul-2 li {
  padding: 35px;
}

.tick-li {
  color: var(--main-color);
  font-size: 24px;
}

.sec-2--bottom {
  padding: 0 20px;
  margin-top: 0px;
  gap: 50px;
}

.sec-2-btn--container {
  justify-content: space-evenly;
  margin-top: 100px;
  gap: 50px;
  border-top: 1px solid rgba(128, 128, 128, 0.242);
}

.sec-2-btn-tab {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: relative;
  top: -24px;
  color: var(--main-color);
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}

.sec-2--tabbed {
  border-bottom: 1px solid rgba(128, 128, 128, 0.242);
}

.btn-active {
  position: relative;
  top: -32px;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sec-2-btn-tab:hover {
  cursor: pointer;
}

.sec-2-tabs--container {
  display: none;
}

.sec-2-bt--p {
  margin: 0 auto;
  width: 75%;
  min-width: 500px;
  padding-bottom: 40px;
  line-height: 2;
}

/* SECTION 3 */

.sec-3 {
  row-gap: 80px;
  grid-template-columns: 1fr 1fr;
}

.sec-3--img-1 {
  background-image: url("/img/sections/sec-03-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
  justify-self: start;
  border-radius: 6px;
}

.sec-3--img-2 {
  background-image: url("/img/sections/sec-03-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
  justify-self: end;
  border-radius: 6px;
}

.sec-3--first-h2,
.sec-3--second-h2 {
  color: var(--main-color);
  padding: 15px 0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}

.sec-3--first-h3,
.sec-3--second-h3 {
  padding: 20px 0;
  font-size: 45px;
  font-weight: 600;
}

.sec-3--first-p,
.sec-3--second-p {
  padding: 20px 0;
  line-height: 1.5;
}

.sec-3--li-1,
.sec-3--li-2 {
  padding: 5px 0;
}

.sec-3--li-1::before,
.sec-3--li-2::before {
  content: "•";
  color: var(--main-color);
  font-size: 25px;
  margin-right: 5px;
}

/* Slider */
.slider-tittle {
  flex-direction: column;
  gap: 10px;
}

.slider-top--text {
  margin: 0 auto;
}

.slider-top--h2 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}

.slider-top--p {
  font-size: 45px;
  font-weight: 600;
}

.slider-inside--h2 {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.849);
  width: 800px;
  margin: 0 auto;
}
.slider-inside--p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.616);
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}

.reviewer {
  padding-top: 20px;
  grid-template-columns: 50px 1fr;
  align-items: center;
  column-gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.review-img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.review-name {
  font-weight: 500;
  padding-bottom: 5px;
}
.review-position {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.616);
}

.slider {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 450px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 30%;
  width: 100%;

  transition: transform 1s ease 0s;
}
.btn-slider:hover {
  cursor: pointer;
  background-color: rgb(213, 213, 213);
  transition: 0.5s;
}

.btn-slider--right {
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: rgba(128, 128, 128, 0.141);
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
}

.btn-slider--left {
  position: absolute;
  top: 50%;
  right: 10%;
  background-color: rgba(128, 128, 128, 0.141);
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
}

/* FOOTER */

.footer {
  padding: 0 80px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: var(--section-bg-color);
}

.footer i {
  padding-top: 20px;
  height: 10px;
  color: #000;
}

.footer-p1,
.footer img,
.footer li {
  padding-bottom: 10px;
  list-style: none;
  color: gray;
}

.footer-lt-header {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.802);
}

.footer-info-3 a {
  text-decoration: none;
  cursor: pointer;
  color: gray;
}

.footer-info-4 input {
  border: none;
  width: 150px;
  height: 43.5px;
  border-radius: 6px 0 0 6px;
  border: 1px solid var(--nav-backGround);
}

.footer-info-4 input:focus {
  outline: none;
}

.footer-info-4 input::placeholder {
  text-align: center;
  color: rgba(128, 128, 128, 0.504);
}
.footer-info-4 button {
  position: relative;
  top: 0;
  left: -5px;
  border: none;
  padding: 15px 25px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
}
