body {
  position: relative;
  overflow-x: hidden;
}

.sec-1,
.sec-2,
.sec-3 {
  margin: 0 auto;
  max-width: 1300px;
}
.nav-header {
  position: fixed;
  padding: 0 54px;
  top: 0;
  left: 0;
  width: 100%;
  color: #efefef;
  background-color: var(--nav-backGround);
  z-index: 5;
}
.nav-header span {
  margin: 0 30%;
}

.nav-ul {
  gap: 25px;
}
.nav-ul a {
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}

.nav-ul a:hover {
  border-bottom: 2px solid var(--logo-color);
}

.ul-box {
  gap: 15px;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 28vw;
  height: 100%;
  padding-top: 80px;
  background-color: rgb(255, 255, 255);
  color: #000;
  transform: translateX(1000px);
  transition: 0.5s ease;
  z-index: 999999;
}

.modal-show {
  transform: translateX(0px);
}

.ul-modal {
  position: sticky;
  top: 100px;
  width: 250px;
  height: 350px;
  margin: 0 auto;
  flex-direction: column;
}

.ul-modal > li {
  padding-bottom: 30px;
}

.btn-close--m {
  position: relative;
  top: -390px;
  right: -150px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.3s;
}

.btn-close--m:hover {
  border: 1px solid transparent;
  border-radius: 50%;
  background: #9391912b;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.133);
  z-index: 6;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  background-image: url("/img/nav-hero2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  height: 90vh;
}

.hero-text {
  position: absolute;
  min-width: 100%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  backdrop-filter: blur(4px);
  background-color: #9391912b;
  text-align: center;
  padding: 20px 0;
  color: var(--text-color);
  font-size: 50px;
  font-weight: 700;
}

.btn {
  position: relative;
  top: 0;
  left: 25px;
}

.icon-btn {
  padding: 7px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 22px;
  color: #000;
}

/* SECTION 1 GRID */

.sec-1-tittle {
  text-align: center;
  color: #000;
}
.sec-1-tittle h2 {
  padding-top: 35px;
  font-size: 20px;
  color: rgb(6, 129, 63);
}

.sec-1-tittle h3 {
  padding-top: 25px;
  font-size: 40px;
}

.features-container {
  padding: 100px 50px;
  column-gap: 50px;
  row-gap: 50px;
}

.features-box h3 {
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
}

.features-text {
  justify-content: flex-start;
  align-items: center;
}

.features-box,
.features-box > h3,
.features-box > p {
  padding: 15px 10px;
}

/* SECTION 2 */
.sec-2 {
  padding: 60px 20px;
  /* padding-top: 100px; */
}

.sec-02--text {
  justify-self: center;
}

.sec-2--img-grid {
  justify-items: center;
  column-gap: 30px;
  row-gap: 30px;
}

.img-1--grid {
  background-image: url("/img/sections/sec-2-img1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 340px;
  border-radius: 6px;
  align-self: end;
}
.img-2--grid {
  background-image: url("/img/sections/sec-2-img2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 300px;
  border-radius: 6px;
  align-self: end;
  justify-self: start;
}

.img-3--grid {
  background-image: url("/img/sections/sec-2-img3.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 600px;
  grid-column: 1/3;
  border-radius: 6px;
  justify-self: start;
  margin-left: 35px;
}
.sec-2--h2 {
  color: rgb(6, 129, 63);
  padding: 10px 35px 0 35px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}

.sec-2--h3 {
  padding: 20px 35px;
  font-size: 45px;
  font-weight: 600;
}

.sec-2--p {
  padding: 20px 35px;
  line-height: 1.5;
}

.sec-2--ul-1 li,
.sec-2--ul-2 li {
  padding: 35px;
}

.sec-2--icon {
  background-color: #efefef;
  border-radius: 50%;
  color: #000;
  font-size: 20px;
  padding: 5px;
  margin-right: 10px;
}

.sec-2--bottom {
  padding: 0px 20px 50px 20px;
  margin-top: 10px;
  gap: 50px;
  background-color: #efefef;
}

.sec-2-btn--container {
  justify-content: space-evenly;
  margin-top: 60px;
  gap: 150px;
}

.sec-2-btn-tab {
  color: #000;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}

.sec-2-tabs--container {
  display: none;
}

.sec-2-bt--p {
  text-align: center;
  width: 100%;
  min-width: 370px;
  padding: 20px 0px;
  line-height: 2;
}

/* SECTION 3 */

.sec-3 {
  padding: 0 50px 60px 50px;
  row-gap: 150px;
  grid-template-columns: 1fr 1fr;
}

.sec-3--img-1 {
  background-image: url("/img/sections/sec-03-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
  justify-self: start;
  border-radius: 6px;
}

.sec-3--img-2 {
  background-image: url("/img/sections/sec-03-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
  justify-self: end;
  border-radius: 6px;
}

.sec-3--first-h2,
.sec-3--second-h2 {
  color: rgb(6, 129, 63);
  padding: 15px 0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}

.sec-3--first-h3,
.sec-3--second-h3 {
  padding: 20px 0;
  font-size: 45px;
  font-weight: 600;
}

.sec-3--first-p,
.sec-3--second-p {
  padding: 20px 0;
  line-height: 1.5;
}

.sec-3--li-1,
.sec-3--li-2 {
  padding: 10px 0;
}

.sec-3--li-1::before,
.sec-3--li-2::before {
  content: "•";
  color: rgb(6, 129, 63);
  font-size: 25px;
  margin-right: 5px;
}
